<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Page</title>
</head>
<body>
        <p>Detail of cat1</p>
        <img src="/<%= details.img %>">
        <h3>Name: <%= details.name %></h3>
        <h3>Type: <%= details.type %></h3>
        <h3>Age: <%= details.age %></h3>
        <p>Detail of car1</p>
        <img src="/<%= details.img %>">
        <h3>Name: <%= details.name %></h3>
        <h3>Type: <%= details.type %></h3>
        <h3>Age: <%= details.age %></h3>

</body>
</html>